.paragraph {
    width: 200px;
    height: 60px;
    padding: 10px 15px 20px 8 px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid black;
    border-top: 3px dotted blue;
    border-right: 2px dashed red;
    border-bottom: 3px dotted purple;
    border-left: 2px double green;
}